@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
} 
/* added this code and commented that is below*/
html { height: 100%; overflow:auto; }
body { height: 100%; }
/* html,body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: visible;
} */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
/* 
html,
  body{
    width:100vw;
    overflow-x:hidden;
  }
} */
a {
    text-decoration: none;
}

i {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.first_header {
    height: 61px;
    width:100%;
    background-color: #fcf3ea;
}
.fh_container {
    height: 61px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.container {
    max-width: 98%;
    margin:0 auto;
}
.fh_links a {
    text-decoration: none;
    color: #555555;
    font-size: 12px;
    transition: 0.5s;
}
.fh_links a:not(:last-child) {
    padding-right: 15px;
}
.fh_links a:hover {
    color: #d5cf6a;
}
.fh_text p {
    font-size: 14px;
}


.second_header {
    height: 121px;
    width: 100%;
}
.sh_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 121px;
}
.circle {
    width: 50px;
    height: 40px;
    border-radius: 100%;
    transition: 0.5s;
    position: relative;
}
.sh_icons {
    display: flex;
    justify-content: space-between;
}
.circle img {
    display: inline-block;
    margin-top: 9px;
    margin-left: 17px;
}
.circle:hover {
    background-color: #d5cf6a;
    cursor: pointer;
}
.green {
    background-color: #e8f8f7;
    margin-right: 5px;
}

.yellow {
    background-color: #f6f3e3;
    margin-right: 5px;
}
.pink {
    background-color: #f3e4dc;
}
.notification {
    width: 17px;
    height: 17px;
    background-color: #e0bf96;
    border-radius: 100%;
    position: absolute;
    left: 36px;
    opacity: 0.8;
}
.notification p {
    color: white;
    padding-left: 5px;
    font-size: 12px;
    padding-top: 2px;
}
.sh_searchbar {
    position: relative;
}

.sh_searchbar_container {
    background-color:#f4f4f4;
    height:45px;
    width: 550px;
    border-radius: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#search{
    margin-left: 20px;
}
#link_search {
    margin-right: 20px;
}
#inp input {
   width: 400px;
   height: 45px;
   outline: none;
   border: none;
   background-color:#f4f4f4;
}
.scrollTop {
    width: 50px;
    height: 50px;
    background-color: #bac34e;
    color: white;
    border-radius: 100%;
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 30;
    cursor: pointer
}
#link_search a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    color: black;
    transition: 0.5s;
}
#link_search a:hover {
    color:#d5cf6a;
}
/* third head */
.third_header {
    background-color: #0a472e;
    height:47px;
    width: 100vw;
    display: flex;
    align-items: center;
}
.nav-left {
    position: relative;
    width: 25%;
    cursor: pointer;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}
#menu-text h4 {
    color: white;
    margin-left: 10%;
}
.nav-right {
    margin-left: 50px;
    width: 400px;
}

#nav-ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#nav-ul li {
    list-style: none;
}
.menu_link {
    text-decoration: none;
    color:white;
    font-weight:900;
    font-size: 14px;
    transition: 0.5s;
    display: inline-block;
    margin-right: 30px;
    transition: 0.5s;
    height: 47px;    
    padding-top: 15px;
}


#nav-ul li a:first-child:hover {
   color: #d5cf6a;
}
#li_home {
    position: relative;
    text-align: center;
}
#li_home:hover .drop_home {
    display: block;
    transform: translateY(0);
    opacity: 1;
}


#li_shop:hover .drop_shop {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.dropdown {
    display: none;
    background-color: white;
    width:185px;
    height:288px;
    position: absolute;
    box-shadow: -2px 2px 6px 2px rgba(34, 60, 80, 0.2);
    z-index: 5;
} 
.drop_home {
    position: absolute;
    width: 200px;
    display: none;
    padding-top: 10px;
    top: 47px;
    transform: translateY(10px);
    opacity:0;
    transition: all .5s ease;
}
.drop_home li {
    width: 100%;
    height: 36px;
}
.drop_home li a{
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
}
.drop_shop {
    width: 700px;
    height:200px;
    position: absolute;
    display : none;
    left:0;
    transform: translateY(20px);
    opacity:0;
    transition: all .5s ease;
}
.uls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}
.uls li a {
    color: black;
    transition: 0.5s;
    display: inline-block;
    margin: 2px 0;
}
.uls li:first-child a{
    font-weight: 800;
    margin-bottom: 7px;
}

#li_pages:hover .drop_pages{
    display: block;
    transform: translateY(0);
    opacity: 1;
}
.drop_pages ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
}
.drop_pages {
    width: 700px;
    height:200px;
    position:absolute;
    display: none;
    left: 0;
    transform: translateY(20px);
    opacity:0;
    transition: all .5s ease;
}
.nav-menu {
    display: none;
    left: 0;
    /* top: 40.5px; */
    width: 320px;
    height: 370px;
}
.nav-menu-drop {
    list-style: none;
}
.nav-menu-drop li {
    margin: 8px 0;
    width: 100%;    
}
.nav-menu-drop li a {
    color: black;
    display: inline-block;
    height: 41.1px;
    transition: .5s;
}
.nav-menu-drop li a:hover {
    color: #d5cf6a;
}
.nav-menu-drop li {
    height: 32px;
}

.main {
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
}
.main-img {
    position : relative;
}
.main-text {
    position: absolute;
    top:25%;
    left:15%;
}
.main-text div {
    margin-bottom: 20px;
}
.main-text div:first-child {
    width: 300px;
}
#f_text {
    font-family: 'Freehand';
    font-size: 30px;
    color: white;
    animation-name: anim-1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-20%);
    transition: .5s;
    opacity: 0;
}
.main-text div:nth-child(2) {
    width : 400px;
}
#s_text {
    font-size: 40px;
    color: black;
    animation-name: anim-1;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-20%);
    transition: .5s;
    opacity: 0;
}

#t_text {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: .3s;
    position: relative;
    animation-name: anim-1;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(20%);
    transition: .5s;
    opacity: 0;
}
#link_arrow {
    transform: translateX(0);
    transition: .3s;
    display: inline-block;
}
#line {
    /* position: absolute; */
    display: block;
    width: 100px;
    height: 2px;
    background-color: black;
    transition: .3s;
}

#t_text:hover {
    color: #d5cf6a;
}
#t_text:hover #line {
    background-color: #d5cf6a;
}
#t_text:hover #link_arrow {
    display: inline-block;
    transform: translateX(5px);
}
.show {
    display: block;
}
.hide {
    display: none;
}
@keyframes anim-1 {
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
.swiper-button-prev {
    transform: translateX(-20%);
}

.arrow-swiper {
    visibility: hidden;
    transition: 0.5s;
}
.mySwiper:hover .arrow-swiper {
    visibility:visible;
}
.arrow-swiper {
    width: 50px;
    height: 50px;
}
.hidden {
    opacity: 0;
}
.arrow {
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    transition: .2s;
}
.arrow img {
    width: 18px;
    height: 18px;
}
.arrow:hover {
    background-color: #d5cf6a;
}
.arrows {
    position: absolute;
    top: 85%;
    right: 5%;
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.top-image {
    margin-bottom: 37px;
    position: relative;
}
.top-image h3 {
    width: 200px;
    height: 90px;
    font-size: 24px;
    color: #0a472e;
    margin-bottom: 100px;
}
#right-top-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: .3s;
    font-size: 12px;
    font-weight: 900;
}
#right-top-link:hover {
    color: #d5cf6a;
}
#right-top-link:hover #link_arrow {
    display: inline-block;
    transform: translateX(5px);
}
#right-top-link:hover #line {
    background-color: #d5cf6a;
}

.bottom-image {
    position: relative;
}
.main-text p:first-child {
    font-family:'Freehand';
    font-size: 24px;
    font-weight:500;
    text-align: center;
    color: white;
}
.main-text h4 {
    color: #F4ED23;
    font-size: 40px;
    text-align: center;
}
#bottom-third-text {
    color: white;
    text-align:center;
    display: inline-block;
    margin-left: 10px;
}
#shop_button {
    width: 150px;
    height:38px;
    background-color: #bac34e;
    border-radius: 20px;
    padding: 10px 0px 30px 40px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
}
.button_link {
    color: white;
    font-size: 12px;
    font-weight: 800;
}
#shop_button:hover a {
    color: #bac34e;
}
#shop_button:hover {
    background-color: white;
}
#shop_button:hover #link_arrow {
    display: inline-block;
    transform: translateX(5px);
}

.second_block {
    display: flex;
}
.product {
    width: 330px;
    height: 185px;
    display: flex;
    flex-direction: column;
}
.product_info {
    padding: 50px 15px;
    display: flex;
}
.product_text {
    padding-left: 15px;
}
#product_title {
    margin-bottom: 10px;
    font-size:16px;
    color: #0A472E;
}
#product_subtitle {
    font-size: 12px;
    color: #555555;
}
.animation_line {
    
}
.rect {
    width: 0px;
    height:3px;
    background-color: red;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: all;
}
.product:hover .rect {
    width: 300px;
}


.featured_products {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;

}
#fp_title {
    width: 380px;
}
#fp_title h4 {
    font-size: 30px;
    color: #0A472E;
}
#fp_title h4::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    width: 15px;
    height:15px;
    border: 3px solid #bac34e;
    border-radius: 100%;
}
#fp_link {
    margin-top: 10px;
}
#fp_link a {
    font-size: 12px;
    color: #bac34e;
}

.fp_products {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.fp_product {
    max-width: 330px;
    height:472px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 7px;
}

.fp_product_img img{
    margin-bottom: 40px;
    display: inline-block;
    max-width: 280px;
    height: 258px;
}
.fp_product_img {
    position: relative;
}

.fp_buttons {
    display: flex;
    position: absolute;
    /* top: 80%; */
    left: 33%; 
    top:90%;
    opacity: 0;
    /* display: none; */
    justify-content: center;   
    transition: .5s;
    transition-property: top;
    transform: translateY(-20%);
}

.fp_product_img:hover .fp_buttons {
    top: 80%;
    opacity: 1;
    left:33%;
}

.fp_button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 100%;
    padding: 5px 0 5px 5px;
    cursor: pointer;
}
.fp_button:hover {
    background-color:#0A472E;
}
.fp_button:hover i{
    color: white;
}
.fp_buttons .fp_button:not(:last-child) {
    margin-right: 5px;
}

.fp_button img {
    width: 15px;
    height: 15px;
}
.fp_product_text p:first-child {
    color: #bac34e;
    text-align: center;
    display: inline-block;
    margin-left: 42%;
    font-size: 14px;
}
.fp_product_text p:nth-child(2) {
    color: black;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

}
.fp_product_text p:nth-child(3) {
    color: #e0bf96;
    font-size: 16px;
    display: inline-block;
    margin-left: 41%;
    text-align: center;
}
.cart {
    font-size: 12px;
    
}
#add_to_cart {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: .3s;
    position: relative;
    font-size: 12px;
    margin-left: 35%;
}

#add_to_cart:hover {
    color: #d5cf6a;
}
#add_to_cart:hover #line {
    background-color: #d5cf6a;
}
#add_to_cart:hover #link_arrow {
    display: inline-block;
    transform: translateX(5px);
}
.fp_product_text * {
    display: inline-block;
    margin-bottom:10px;
}
.fp_line {
    display: block;
    width: 60px;
    height: 0.3px;
    background-color: #bac34e;
    margin:0 auto;
    margin-bottom: 10px;
    transition: 0.4s;
}
.line_abs{ 
    margin: 0 auto;
}
.fp_product:hover .fp_line {
    width: 100px;
}

.fourth_block { 
    width: 100vw;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.fb_two_row2 {
    display: flex;
    justify-content: space-around;
}
.fb {
    position: relative;
}
.fb:hover .line_abs {
    width: 100px
}
.fb_text {
    position: relative;
    position: absolute;
    top: 30%;
    left: 10%;
}
.fb_text a {
    padding-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: 570;
}
.line_abs {
    position: absolute;
    margin: 0 auto;
    top: 120%;
}
.fb_img img {
    width: 100%;
    height: auto;
}
.fb_two_row1 {
    
}
.fb_img::before {
    position: absolute;
    content: '';
    top:0;
    left:0;
    width: 0;
    height: 0;
    margin: auto;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.1);
    transition: all 0.4s ease-out;
}
.fb_img::after {
    content: '';
    position: absolute;
    right:0;
    bottom:0;
    width: 0;
    height: 0;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.1);
    transition: all 0.4s ease-out;
}
.fb_img {
    cursor: pointer;
}

.fb_img:hover::before {
    top:0;
    left:0%;
    width: 100%;
    height: 100%;
}
.fb_img:hover::after {
    right: 0;
    bottom: 0;
    width: 100%;
    height:100%;
}
.fb_one {
    height: 460px;
}

.fb_two_row1 {
    margin-bottom: 25px;
}
.fb_row2 {
    height: 215px;
}
.fb_three {
    height: 460px;
}

.panel {
    position: absolute;
    width: 140px;
    height: 30px;
    background-color: #0a472e;
    font-size: 12px;
    transform: rotate(-90deg);
    padding-left: 20px; 
    padding-top: 8px;
    color: white;
    cursor: pointer;
    left: 93.2%;
    position: fixed;
    z-index: 10;
    top: 43%;
    transition :0.5s;
}
.changingImg {
    transition: opacity 0.5s;
}
.paneltool {
    width: 235px;
    height: 446px;
    background-color: #e6eaef;
    transition :0.5s;
}
.panelcontainer {
    padding: 30px 15px;
}
.website-change a {
    display: inline-block;
    width: 100%;
    color: #aaaaaa;
}
.website-change a::before {
    content: '\f067';
    font-family: "FontAwesome";
    padding-right: 0.3125rem;
    font-size: .625rem;
}
.theme {
    width: 175px;
    height: 30px;
    outline: 2px solid #e6eaef;
    /* margin-bottom: 5px; */
    margin: 10px 5px 10px 5px;
    cursor: pointer;
}
.green:hover {
    outline: 3px solid #bac34e;
}
.orange:hover {
    outline: 3px solid #FFA500;
}
.pink:hover {
    outline: 3px solid #f6a879;
}
.green {
    background-color: #bac34e;
}
.orange {
    background-color: #FFA500;
}
.pink {
    background-color: #f6a879;
}

.switch {
    width: 100px;
    height: 36px;
    background-color: #25292C;
    border-radius: 18px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.switch_choice {
    width : 30px;
    height: 30px;
    background-color: #504C4C;
    border-radius: 100%;
    margin-top: 3px;
    cursor : pointer;
}
.yes {
    margin-left: 5px;
}
.switch_choice span {
    font-size:14px;
    color: white;
    display:inline-block;
    margin-top:5px;
    margin-left: 2px;
}
.no {
     margin-right: 5px;
}
.yes-selected {
    background-color: #bac34e;
}
.no-selected {
    background-color: #FFA500;
}
.selected {
    color: #FFA500 !important;
} 

.paneltool {
    position: absolute;
    position: fixed;
    z-index: 10;
    overflow:auto;
    top:14%;
    left:82%;
    transform: translateX(100%);
}       
#panel_title {
    font-size: 16px;
    color: #0a472e;
    font-weight: 800;
    margin-bottom: 15px;
}
.swiper-block {
    width: 20%;
}
.panelcontainer div:not(:last-child) {
    margin-bottom: 10px;
}
.sixth_block {
    margin-top: 50px;
}
.sixth_block_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sbd_text {
    width: 400px;
    height: 282px;
}
.sbd_text * {
    display: inline-block;
    margin-bottom: 10px;
}
.sbd_text h3 {
    color: #0a472e;
    font-size: 30px;
    font-weight: 400;
}
.sbd_text p {
    color: #555;
    font-size: 14px;
}
.sbd_text_right {
    margin-right: 100px;
}
.sbd_text_left {
    margin-left: 100px;
}
#dot {
    width: 10px;
    height: 10px;
    background-color: #d5d5d5;
    border-radius: 100%;
    cursor: pointer;
}
#dots {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 70px;
}
.dot_selected {
    background-color: #0A472E !important;
}
.sbd_img img {
    width: 100%;
    height: auto;
}
.footer-fixed {
    width: 100%;
    height: 59px;
    position: fixed;
    bottom:0;
    justify-content: space-between;
    padding: 10px 40px 0 40px;
    background-color: white;
    display: none;
}
.hide_icon {
    display: none;
}
.slide_left {
    transform: translateX(0%);
}
.search_results {
    display: none;
    width: 550px;
    height: 250px;
    background-color: white;
    box-shadow: -2px 2px 6px 2px rgba(34, 60, 80, 0.2);
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 15;
    padding: 20px;
}

.result_product{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.result_product div {
    margin-top: 10px;
    margin-left: 10px;
}
.dropdown-green {
    position: absolute;
    top: 112%;
    background-color: white;
    width: inherit;
    padding-left: 5%;
    z-index: 10;
    box-shadow: -2px 2px 6px 2px rgba(34, 60, 80, 0.2);
    width: 295px;
    height: 380px;
    padding-top: 10px;
    padding-right: 10px;
}
.dropdown-green li {
    height: 40px;
    list-style: none;
    font-size: 14px;
    font-weight:550;
    width:100%;
    display: flex;
    flex-grow: 1;
    padding-top: 10px;
}
.dropdown-green li:not(:last-child) {
    border-bottom: 1px solid rgba(201, 201, 201, 0.3);

}
.dropdown-green li p {
    display: flex;
    flex: 1;
}

@media (max-width: 990px) {
    .first_header {
        display: none;
    }
    .paneltool {
        display: none;
    }
    .search_results {
        width: 98%;
    }
    .hide_searchbar {
        transform: translateY(-200%);
    }

    .sh_searchbar {
        background-color: white;
        height: 100px;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 15;
        transition: 0.3s;
    }
    .sh_searchbar_container {
        margin: 0 auto;
        margin-top: 30px;
    }
    .hide_searchbar {
        transform: translateY(-200%);
    }
    .circle:not(:last-child) {
        display: none;
    }
    .sh_logo {
        margin: 0 auto;
    }
        #burger-menu {
            margin-left: 20px;
        }
    #nav-ul {
        display:none;
    }
    .footer-fixed {
        display: block;
        display: flex;
    }
    
    .main-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 3%;
        margin: 0 auto;
    }
    .main-right div {
        margin-top: 20px;
    }
    .top-image {
        margin-right: 10px;
    }
    .panel {
        display: none;
    }
    .main-text {
        top: 15%;
    }
    .product {
        max-width: 482px;
    }
    .animation_line {
        display: none;
    }
    .product_img {
       display: inline-block;
       margin-left: 60px;
    }
    #s_text {
        font-size: 30px;
    }
    #t_text {
        font-size:15px;
    }
    .main-img img {
        width: 100%;
        height: 100%;
    }
    .arrow {
        padding-top: 5px;
        padding-left: 5px;
    }
    .arrow img {
        max-width: 20px;
        max-height: 20px;
    }
    .second_block {
        flex-wrap: wrap;
    }
    .top-image 
    {
        
    }
}

@media (max-width: 948px) {
    .top-image {
        width: 100%;
        margin-left: 0;
    }
    .bottom-image {
        width: 100%;
        margin-left: 0;
    }
    
}
@media (max-width: 1234px) {
    .main-img img {
        width: 100%;
        height: 100%;
      
    }
    .top-image {
        width: 100%;
        /* margin-left: 70%; */
    }
    .bottom-image {
        width: 100%;
        /* margin-left: 70%; */
    }
}
@media (max-width: 673px) {

    .product {
        margin: 0 auto;
    }
}
@media (max-width: 482px) {
    .product_img {
        margin-left: 25px;
    }
}
@media (max-width: 231px) {
    .product_img {
        margin-left: 10px;
    }
}
@media (max-width: 520px) {
    #s_text {
        font-size: 20px;
    }
    #t_text {
        font-size: 14px;
    }
    #line {
        width: 87px;
    }
}

/* @media (max-width: 1365px) {
    .fp_product {
        max-width: 300px;
    }
}
@media(max-width: 1258px) {
    .fp_product {
        max-width: 280px;
    }
    .fp_product_img img {
        max-width: 270px;
        height: auto;
    }
}
@media (max-width: 1199px) {
    .fp_product {
        max-width: 288px;
    }
    .fp_product_img {
        width: 288px;
    }
    .fp_product:nth-child(4) {
        display: none;
    }
}
@media (max-width: 918px) {
    .fp_product {
        max-width: 260px;
    }
    .fp_product_img img{
        max-width: 255px;
        height: auto;
    }
}
@media (max-width:812px) {
    .fp_product {
        max-width: 250px;
    }
    .fp_product_img img{
        max-width: 245px;
        height: auto;
    }
}
@media (max-width: 785px) {
    .fp_product {
        max-width: 240px;
    }
    .fp_product_img img {
        max-width: 235px;
        height: auto;
    }
}
@media (max-width: 767px) {
    .fp_product {
        max-width: 351px;
    }
    .fp_product:nth-child(3){
        display:none;
    }
    .fp_product_img img {
        max-width: 320px;
        height: auto;
    }
}
@media (max-width: 692px) {
    .fp_product {
        max-width: 300px;
    }
    .fp_product_img img {
        max-width : 295px;
        height: auto;
    }
}
@media (max-width: 633px) {
    .fp_product {
        max-width: 280px;
    }
    .fp_product_img img {
        max-width: 275px;
        height : auto;
    }
}
@media (max-width: 589px) {
    .fp_product {
        max-width: 260px;
    }
    .fp_product_img img {
        max-width: 255px;
        height : auto;
    }
}
@media (max-width: 546px) {
    .fp_product {
        max-width: 240px;
    }
    .fp_product_img img {
        max-width: 235px;
        height : auto;
    }
}
@media (max-width: 507px) {
    .fp_product {
        max-width: 220px;
    }
    .fp_product_img img {
        max-width: 215px;
        height : auto;
    }
}
@media (max-width: 479px) {
    .fp_product {
        max-width:447px;
    }
    .fp_product:nth-child(2) {
        display:none;
    }
    .fp_product_img img {
        max-width: 320px;
        height: auto;
    }
} */

@media (max-width:1290px) {
    .fb_one {
        margin-right: 10px;
    }
    .fb_three {
        margin-left: 10px;
    }
}
@media(max-width: 1233px) {
    .fb_row2 {
        margin-right: 7px;
    }
}
@media(max-width: 1256px) {
    .fb_two_row1 {
        margin-bottom: 19px;
    }
}
@media(max-width: 1100px) {
    .fb_two_row1 {
        margin-bottom:  15px;
    }
}
@media(max-width: 841px) {
    .fb_two_row1 {
        margin-bottom:  12px;
    }
}
@media (max-width: 766px) {
    .fourth_block {
        display: block;
    }
    .fb_two_row2 {
        display: block;
    }
    .fb {
        height: 215px;
        width : 100%;
        margin: auto;
    }
    .fb_img img {
        height: 215px;
        object-fit: cover;
    }
}
@media (max-width:1180px) {
    .sbd_text_right {
        margin-left: 40px;
        margin-bottom: 60px;
        
    }
    .sbd_text_left {
        margin-right: 40px;
        margin-top: 60px;
    }
}